@page "/cart"

@inject IViewShoppingCartUseCase viewShoppingCartUseCase


<h4>Shopping Cart</h4>
<br>



@if (order != null && order.LineItems != null && order.LineItems.Count > 0)
{
    <div>
        <div class="col">
            @foreach (var item in order.LineItems)
            {
                <LineItemComp LineItem="item" />
            }
        </div>
        <div class="col">
            <OrderSumaryComp />
        </div>
    </div>
}

else
{
    <p>There is no LineItem to display</p>
}



@code {
    private Order order;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            order = await viewShoppingCartUseCase.ExecuteAsync();
            StateHasChanged();
        }
    }
}